# -----------------------------------------------------------------------------
# .inputrc
# Description: readline config file
# -----------------------------------------------------------------------------
# Location: $HOME/.inputrc
# -----------------------------------------------------------------------------

# fixes weird errors
$include /etc/inputrc

# Behaviour {{{
# -----------------------------------------------------------------------------
# case insensitive completion
set completion-ignore-case on
# faster completion menu
set show-all-if-ambiguous on
# turn off internal pager when returning long completion lists
set page-completions off
# -----------------------------------------------------------------------------
# }}}

# Keybinds {{{
# -----------------------------------------------------------------------------
# set vi mode
set editing-mode vi
# decrease mode activation timeout (default: 500)
set keyseq-timeout 50

# turn on history search instead of last command
$if mode=vi
set keymap vi-command
# these are for vi-command mode
"\e[A":history-search-backward
"\e[B":history-search-forward
j:history-search-forward
k:history-search-backward
set keymap vi-insert
# these are for vi-insert mode
"\e[A":history-search-backward
"\e[B":history-search-forward
$endif
# -----------------------------------------------------------------------------
# }}}

# Appearance {{{
# -----------------------------------------------------------------------------
# show editing mode in readline prompt
set show-mode-in-prompt on
# [ insert ] : [ normal ]
set vi-ins-mode-string "\1\e[0m\2\1\e[37m\2\[ \1\e[92m\2insert\1\e[37m\2 \]\1\e[0m\2"
set vi-cmd-mode-string "\1\e[0m\2\1\e[37m\2\[ \1\e[91m\2normal\1\e[37m\2 \]\1\e[0m\2"

# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats on
# Mark symlinked directories
set mark-symlinked-directories on
# Color the common prefix
set colored-completion-prefix on
# Color the common prefix in menu-complete
set menu-complete-display-prefix on
# -----------------------------------------------------------------------------
# }}}

# vim:foldmethod=marker:foldlevel=0
